* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0 auto;
}

p {
  font-family: "Gupter", serif;
}

header {
  background-image: url(/images/headerphoto.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

header .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100vh;
}

header .container .logo a {
  display: block;
  height: 70px;
  line-height: 70px;
  color: #15da60;
  font-family: "Dancing Script";
  text-decoration: none;
  font-size: 48px;
  font-style: italic;
  text-align: center;
}

header .container ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

header .container ul li a {
  display: block;
  color: #f38c06;
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
  font-size: 26px;
  height: 70px;
  line-height: 70px;
}

header .container ul li a:hover {
  color: white;
}

header .container .welcome {
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-pack: center;
      justify-content: center;
}

header .container .welcome .welcome-title {
  font-size: 48px;
  font-style: italic;
  color: #f38c06;
  font-family: "Gupter", serif;
}

header .container .welcome .welcome-subtitle {
  font-size: 60px;
  color: #f38c06;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 50px;
}

header .container .welcome .btn {
  height: 60px;
  width: 180px;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  color: white;
  background-color: #15da60;
  border-radius: 10px;
  border: 0px;
  margin: 0 auto;
}

header .container .welcome .btn:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.services .container {
  padding-top: 30px;
}

.services .container h3 {
  font-size: 40px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}

.services .container .postscript {
  text-align: center;
  font-family: "Gupter", serif;
  font-style: italic;
  color: gray;
  padding-top: 10px;
}

.services .container .service {
  text-align: center;
  padding-top: 10%;
}

.services .container .service p {
  letter-spacing: 2px;
  color: gray;
}

.services .container .service div {
  position: relative;
  height: 100px;
  width: 100px;
  border: 4px solid #15da60;
  border-radius: 50%;
  margin: 0 auto;
}

.services .container .service div i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #15da60;
  font-size: 36px;
}

.services .container .service h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.portfolio {
  background-color: aliceblue;
}

.portfolio .container {
  padding-top: 30px;
}

.portfolio .container h3 {
  font-size: 40px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}

.portfolio .container .postscript {
  text-align: center;
  font-family: "Gupter", serif;
  font-style: italic;
  color: gray;
  padding-top: 10px;
  padding-bottom: 20px;
}

.portfolio .container .row {
  margin-top: 50px;
}

.portfolio .container .row .element {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.portfolio .container .row .element a {
  display: block;
  height: 100%;
  width: 100%;
}

.portfolio .container .row .element a img {
  width: 100%;
  height: 100%;
}

.portfolio .container .row .description {
  height: 100px;
  background-color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

footer .container {
  padding-top: 30px;
}

footer .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
}

footer .row ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .row ul a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: black;
  text-align: center;
  position: relative;
  border-radius: 50%;
}

footer .row ul a i {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1023px) {
  header .container .menu-link {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  header .container ul {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  header .container ul .menu-link {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
  }
  header .container .welcome .welcome-title {
    margin-top: 50px;
    font-size: 30px;
  }
  header .container .welcome .welcome-subtitle {
    font-size: 34px;
  }
  .services .container h3 {
    font-size: 36px;
  }
  .services .container .row {
    padding-top: 5%;
  }
  .services .container .row div {
    padding: 3%;
  }
  .services .container .row div div {
    width: 50px;
    height: 50px;
  }
  .services .container .row div div i {
    font-size: 18px;
    padding: 10px;
  }
  .portfolio .container h3 {
    font-size: 36px;
  }
  .portfolio .container .row {
    padding: 0;
    margin: 0;
  }
  footer p {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  header .container ul {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
  }
  header .container ul .menu-link {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
  }
  header .container .welcome .welcome-title {
    margin-top: 50px;
    font-size: 30px;
  }
  header .container .welcome .welcome-subtitle {
    font-size: 34px;
    margin-bottom: 0;
  }
  header .container .welcome .btn {
    height: 40px;
    width: 130px;
    font-size: 16px;
  }
}

@media (max-width: 359px) {
  header .container ul .menu-link {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
  }
  header .container .welcome .welcome-title {
    margin-top: 30px;
    font-size: 20px;
  }
  header .container .welcome .welcome-subtitle {
    font-size: 24px;
    margin-bottom: 20px;
  }
  header .container .welcome .btn {
    height: 40px;
    width: 130px;
    font-size: 16px;
  }
  footer a {
    width: 40px;
    height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */