$primary-color: rgb(243, 140, 6);
$second-color: rgb(21, 218, 96);
$primary-font: 'Roboto Mono',
monospace;
$second-font: 'Gupter',
serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    margin: 0 auto;
}

p {
    font-family: $second-font;
}


header {
    background-image: url(/images/headerphoto.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        .logo {
            a {
                display: block;
                height: 70px;
                line-height: 70px;
                color: $second-color;
                font-family: "Dancing Script";
                text-decoration: none;
                font-size: 48px;
                font-style: italic;
                text-align: center;
            }
        }

        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            height: 100%;

            li {
                a {
                    display: block;
                    color: $primary-color;
                    font-family: $primary-font;
                    text-decoration: none;
                    font-size: 26px;
                    height: 70px;
                    line-height: 70px;
                }

                a:hover {
                    color: white;
                }
            }
        }

        .welcome {
            flex-direction: column;
            text-align: center;
            flex-grow: 1;
            justify-content: center;

            .welcome-title {
                font-size: 48px;
                font-style: italic;
                color: $primary-color;
                font-family: $second-font;
            }

            .welcome-subtitle {
                font-size: 60px;
                color: $primary-color;
                font-family: $primary-font;
                margin-bottom: 50px;
            }

            .btn {
                height: 60px;
                width: 180px;
                font-family: $primary-font;
                font-size: 20px;
                color: white;
                background-color: $second-color;
                border-radius: 10px;
                border: 0px;
                margin: 0 auto;
            }

            .btn:hover {
                color: black;
                background-color: white;
                cursor: pointer;
            }
        }
    }
}

.services {
    .container {
        padding-top: 30px;

        h3 {
            font-size: 40px;
            text-align: center;
            font-family: $primary-font;
            text-transform: uppercase;
        }

        .postscript {
            text-align: center;
            font-family: $second-font;
            font-style: italic;
            color: gray;
            padding-top: 10px;
        }

        .service {
            text-align: center;
            padding-top: 10%;

            p {
                letter-spacing: 2px;
                color: gray;
            }

            div {
                position: relative;
                height: 100px;
                width: 100px;
                border: 4px solid $second-color;
                border-radius: 50%;
                margin: 0 auto;

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $second-color;
                    font-size: 36px;
                }
            }

            h4 {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
    }
}

.portfolio {
    background-color: aliceblue;

    .container {
        padding-top: 30px;

        h3 {
            font-size: 40px;
            text-align: center;
            font-family: $primary-font;
            text-transform: uppercase;
        }

        .postscript {
            text-align: center;
            font-family: $second-font;
            font-style: italic;
            color: gray;
            padding-top: 10px;
            padding-bottom: 20px;
        }

        .row {
            margin-top: 50px;

            .element {
                display: flex;
                flex-direction: column;

                a {
                    display: block;
                    height: 100%;
                    width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .description {
                height: 100px;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

footer {
    .container {
        padding-top: 30px;
    }

    .row {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;

            a {
                display: block;
                width: 50px;
                height: 50px;
                background-color: black;
                text-align: center;
                position: relative;
                border-radius: 50%;

                i {
                    color: white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    header {
        .container {
            .menu-link {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 767px) {
    header {
        .container {
            ul {
                flex-direction: column;
                align-items: center;

                .menu-link {
                    font-size: 16px;
                    height: 40px;
                    line-height: 40px;
                }
            }

            .welcome {
                .welcome-title {
                    margin-top: 50px;
                    font-size: 30px;
                }

                .welcome-subtitle {
                    font-size: 34px;
                }
            }
        }
    }

    .services {
        .container {
            h3 {
                font-size: 36px;
            }

            .row {
                padding-top: 5%;

                div {
                    padding: 3%;

                    div {
                        width: 50px;
                        height: 50px;

                        i {
                            font-size: 18px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }

    .portfolio {
        .container {
            h3 {
                font-size: 36px;
            }

            .row {
                padding: 0;
                margin: 0;
            }
        }
    }

    footer {
        p {
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    header {
        .container {
            ul {
                flex-direction: row;
                align-items: center;

                .menu-link {
                    font-size: 16px;
                    height: 40px;
                    line-height: 40px;
                }
            }

            .welcome {
                .welcome-title {
                    margin-top: 50px;
                    font-size: 30px;
                }

                .welcome-subtitle {
                    font-size: 34px;
                    margin-bottom: 0;
                }

                .btn {
                    height: 40px;
                    width: 130px;
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 359px) {

    header {
        .container {
            ul {
                .menu-link {
                    font-size: 16px;
                    height: 30px;
                    line-height: 30px;
                }
            }

            .welcome {
                .welcome-title {
                    margin-top: 30px;
                    font-size: 20px;
                }

                .welcome-subtitle {
                    font-size: 24px;
                    margin-bottom: 20px
                }

                .btn {
                    height: 40px;
                    width: 130px;
                    font-size: 16px;
                }
            }
        }
    }

    footer {
        a {
            width: 40px;
            height: 40px;
        }
    }
}