$primary-color: green;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    height: 100vh;
    background-image: url("/images/headerphoto.jpg");
    background-position: center;
    background-size: cover;

    .container {
        margin: 0;
        padding-top: 20px;

        .logo {
            text-align: center;

            a {
                line-height: 60px;
                text-decoration: none;
                font-family: 'Dancing Script', cursive;
                font-size: 40px;
                color: $primary-color;
            }
        }

        .navigation {
            ul {
                list-style: none;
                text-align: center;

                li {
                    display: inline-block;
                    margin-right: 5px;
                    height: 60px;

                    a {
                        display: block;
                        color: $primary-color;
                        line-height: 60px;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 0 10px;
                        font-size: 14px;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}